.dark-mode {
  background-color: black;
  color: white;
}

h1 {
  background-color: rgb(117, 134, 143);
  color: rgb(231, 199, 160);
  text-align: center;
  margin: 0%;
  padding: 0%;
}

.tab {
  overflow: hidden;
}

.tab-link :active {
  background-color: #d74242;
}

.tab button {
  cursor: pointer;
}
