.dark-mode {
  background-color: rgb(41, 38, 38);
  color: white;
}

h1 {
  background-color: rgb(117, 134, 143);
  color: #00eeff;
  text-align: center;
  margin: 0%;
  padding: 0%;
}

.tab {
  overflow: hidden;
}

.active {
  background-color: #4bd9e3;
}

.tab button:hover {
  background-color: rgb(184, 186, 186);
  cursor: pointer;
}
