body {
  margin: 0;
  padding: 0;
}

.dark-mode {
  background-color: #292626;
  color: white;
}

.header {
  background-color: #75868f;
  color: #00eeff;
  text-align: center;
  font-size: 48px;
  margin: 0%;
  padding: 0%;
}

.tab {
  overflow: hidden;
}

.active {
  background-color: #00eeff;
}

.tab button:hover {
  background-color: #5b7476;
  cursor: pointer;
}

.tab-button {
  margin: 0;
  float: left;
  font-size: xx-large;
  border: 1px solid black;
  width: 25%;
}

.sub-button {
  border: 1px solid black;
  width: 12%;
  float: right;
  margin-left: 5px;
  margin-right: 4px;
}

.sub-button:hover {
  cursor: pointer;
  background-color: #5b7476;
}

.animate {
  opacity: 0;
  transform: translateY(-30px);
  animation: slideIn 0.5s ease-out forwards;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#cert-buttons {
  align-content:end
}