.dark-mode {
  background-color: #292626;
  color: white;
}

.header {
  background-color: #75868f;
  color: #00eeff;
  text-align: center;
  font-size: 32px;
  margin: 0%;
  padding: 0%;
}

.tab {
  overflow: hidden;
}

.active {
  background-color: #4bd9e3;
}

.tab button:hover {
  background-color: #5b7476;
  cursor: pointer;
}

button {
  margin: 0;
  float: left;
  font-size: xx-large;
  border: 1px solid black;
  width: 25%;
}
